@import "../utilities/mixins";
@import "../utilities/variables";


.categories-column__right {
  position: relative;
  background: $grayish;

}

.categories-column__right--img {
  position:relative;
  width: 50px;
  height: 50px;


  &::before{
    content:"";
    background-color: #68b738;
    border-radius: 50%;
    width:100%;
    height: 100%;
    display:block;
  }
  &::after{
    content:"";
    top:0;
    position: absolute;
    background-image: url("../img/icon-cat-slim.svg");
    background-size: 35px, 49px;
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
  }

}

.categories-column__left--img {
  position: relative;
  width: 50px;
  height: 50px;


  &::before {
    content: "";
    position: absolute;
    left: 8px;
    background-color: #68b738;
    border-radius: 50%;
    width:100%;
    height: 100%;
    display:block;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    background-image: url("../img/icon-cat-pro.svg");
    background-size: 67px, 28px;
    background-repeat: no-repeat;
    background-position: center center;
    width:67px;
    height: 100%;
  }
}


.categories-column__left {
  position: relative;
  background: $grayish;
}

.categories__text {
  width: 223px;
  color: #444444;
  font-family: "Arial MT";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 36px 0 21px;
}
