@import "../utilities/mixins";
@import "../utilities/variables";

.footer-page__wrapper {
  @include dis-fl-col;
  background: $grayish;
}

.footer-page__image {
  margin: 0 auto;
}

.copyright__link {
  color: #444444;
  font-family: "Arial MT";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
