@import "../utilities/mixins";
@import "../utilities/variables";

.categories {
  @include dis-fl-col;
  max-width: 280px;
  margin: 0 20px ;
}

.categories-column__right {

  background: $grayish;

}

.categories-column__left {
  background: $grayish;
}

.advantages__wrapper {
  @include dis-fl-col;
}

.case-study {
  background: $grayish;
}



