@import "../utilities/mixins";
@import "../utilities/variables";

.page-header__app{
  display:flex;
  justify-content: space-around;
}
.page-header {
  @include dis-fl-col;
  flex-wrap: wrap;
}

.page-header__title {
  color: #ffffff;
  font-family: "Oswald",Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.page-header__title--small {
  color: #ffffff;
  font-family: "Oswald",Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}
.page-header__widget {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.page-header__btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

