@import "../utilities/mixins";
@import "../utilities/variables";

.product__caption {
  color: #111111;
  font-family: ""Oswald",Arial, sans-serif",Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-left: 22px;
}



.product {
  @include dis-fl-col;
}

.product__card {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(237, 237, 237);
  border-top: 2px solid rgb(237, 237, 237);
}
.product__wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.product__card--right {
  width: 150px;
  @include  dis-fl-col;
}

.product__title {

  color: #111111;
  font-family: "Oswald",Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product__subtitle {
  color: #444444;
  font-family: "Arial MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.product__value,
.product__field {
  width: 38px;
  color: #444444;
  font-family: "Arial MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}


.product__btn {
  color: #ffffff;
  font-family: "Oswald",Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product__btn--grey {
  background-color: #f2f2f2;
  color: #444444;
  font-family: "Oswald",Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
