@import "../utilities/mixins";
@import "../utilities/variables";


.categories {
  @include dis-fl-col;
  max-width: 280px;
  margin: 0 20px ;
}

.categories__text {
  width: 223px;
  color: #444444;
  font-family: "Arial MT";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 36px 0 21px;
}


