
html, body {
  @include clear;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

.view-port {
  margin: 20px auto;
  max-width: $view-port;
}

img {
  max-width: 100%;
  height: auto;
}

